@import "new-reset.css";
@import "dataTable.css";
@import "icons.css";
@import "ui_custom.css";
@import "custom.css";

html { height: 100%; }
* html body { height: 100%; }
body { margin: 0; padding: 0; background: url(../images/bodyBg.jpg) repeat; font-size: 12px; color: #424242; font-family: Arial, Helvetica, sans-serif; line-height: 20px; min-height: 100%; position: relative; }
.wrapper { width: 1000px; margin: auto; margin-top: 20px; }
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ==========  Typo  ========== */

h1, h2, h3, h4, h5, h6, ul.tabs li a, nav ul li a { font-family: 'Cuprum', sans-serif; font-weight: normal; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.red { color: #B55D5C; }
.green { color: #2a8827; }

p { padding: 12px 0 0 0; }


/* ===== Left navigation ===== */
body { padding-top: 10px; }
nav { width: 180px; float: left; margin-right: 30px; }
nav .last { border-bottom: none; }

nav ul li { position: relative; }
nav ul li a { color: #494949; font-size: 15px; display: block; background: #efefef url(../images/leftNavBg.png) repeat-x 0 0; border: 1px solid #d5d5d5; margin-top: 1px; }
nav ul li a:hover, .leftNav ul li a.active { background: url(../images/darkBg.jpg) repeat-x; color: #fff; border: 1px solid #3c4049; }
nav ul li a span { padding: 9px 0 9px 35px; display: block; }

nav ul li.dash a span { background: url(../images/icons/dark/download.png) no-repeat 10px; }
nav ul li.graphs span { background: url(../images/icons/dark/graph.png) no-repeat 10px; }
nav ul li.forms a span { background: url(../images/icons/dark/pencil.png) no-repeat 10px; }
nav ul li.gallery a span { background: url(../images/icons/dark/preview.png) no-repeat 10px; }
nav ul li.typo span { background: url(../images/icons/dark/create.png) no-repeat 10px; }
nav ul li.tables a span { background: url(../images/icons/dark/frames.png) no-repeat 10px; }
nav ul li.cal a span { background: url(../images/icons/dark/dayCalendar.png) no-repeat 10px; }
nav ul li.errors a span { background: url(../images/icons/dark/alert.png) no-repeat 10px; }
nav ul li.files a span { background: url(../images/icons/dark/files.png) no-repeat 10px; }
nav ul li.login a span { background: url(../images/icons/dark/user.png) no-repeat 10px; }
nav ul li.pic a span { background: url(../images/icons/dark/blocks.png) no-repeat 10px; }
nav ul li.widgets a span { background: url(../images/icons/dark/full.png) no-repeat 10px; }
nav ul li.contacts a span { background: url(../images/icons/dark/users.png) no-repeat 10px; }


/* ===== Rounded ===== */
#main .title, section.table { -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }


/* ===== Main content ===== */
.content { float: left; width: 780px; margin-bottom: 80px; }
/*#main { float: left; width: 780px; margin-bottom: 80px; }*/
#main { margin-top: 20px; }
#main .title { background: url(../images/darkBg.jpg) repeat-x; height: 36px; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 #fff; }
#main .title h5 { float: left; color: #fafafa; font-weight: normal; display: block; padding: 7px 15px; }

#main section { clear:both; }

/* ========== Pagination ========== */

.pagination { margin: auto; width: 726px; text-align: center; margin-top: 40px; }
.pages {  }
.pages li.prev { margin-right: 15px; }
.pages li.next { margin-left: 15px; }
.pages li { display: inline; margin: 0 2px; }
.pages li a { height: 25px; padding: 4px 8px; text-decoration: none; color: #666666; font-weight: bold; background: url(../images/ui/pagination.png) repeat-x 0 0; border: 1px solid #d5d5d5; font-size: 11px; }
.pages li a:hover { background: #efefef; }
.pages li .active { background-position: 0 -26px; color: #fff; border-color: #687282; }
.pages li .active:hover { background: #687282; }


/* ========== Tables ========== */
section.widget { margin-top: 40px; border: 1px solid #D5D5D5; border-top: none; margin-top: 40px; border: 1px solid #d5d5d5; display: block; background: #fafafa; clear: both; border-top: none; }
section.widget .head { background: #efefef url(../images/leftNavBg.png) repeat-x; height: 38px; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; position: relative; }
section.widget .head h5 { font-weight: normal; padding: 9px 12px 9px 35px; float: left; } 
section.widget .body { padding: 12px 14px; }
section.widget .normal h5, section.widget .accordion-close h5 { background: url(../images/aNormal.png) no-repeat 15px 15px; padding: 9px 12px 9px 32px!important }
section.widget .inactive h5, section.widget .accordion-open h5 { background: url(../images/aInactive.png) no-repeat 12px 17px; padding: 9px 12px 9px 32px!important; }


section table.datatable td input[type=text], section table td span { font-size: 18px; border: 1px solid transparent; padding: 3px; }
section table.datatable td input[type=text] { border: 1px solid #CCC; width: 97%; }
section table.datatable td span { margin-bottom: 1px; display: inline-block; }

section table.datatable tbody tr input { display:none; border: none; border: 1px solid transparent; background-color: transparent; cursor: default; }
section table.datatable tbody tr.editing span { display: none; }
section table.datatable tbody tr.editing input { display:inline-block; }


/* ==========  Buttons ========== */
input[type=submit], input[type=reset], input[type=button], button, .button { font-size: 10px; font-weight: bold; text-transform: uppercase; padding: 5px 14px 6px 14px; cursor: pointer; font-family: Arial, Helvetica, sans-serif; line-height: 12px; }

input[type=submit], input[type=reset], input[type=button], button, .button {  background: url(../images/ui/basicBtn.png) repeat-x 0 0; border: 1px solid #d5d5d5; color: #525252; }
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, button:hover, .button:hover { background-position: 0 -25px; border-color: #c9c9c9; }
input[type=submit]:active, input[type=reset]:active, input[type=button]:active, button:active, .button:active { background-position: 0 -50px; }


/* ===== Statistics ===== */

.stats { }
.stats ul {  }
.stats ul li { display: block; float: left; margin-right: 40px; vertical-align: middle; }
.stats ul li:first-child {  }
.stats ul li span.description { color: #424242; font-size: 16px; display: block; vertical-align: middle; white-space: normal; }
.count { font-size: 26px; height: 40px; display: inline-block; float: left; line-height: 41px; padding: 0 10px; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 #fff; margin-right: 10px; }

.stats span.blue { background: url(../images/count/blue.png) repeat-x 0 0; border: 1px solid #2e6590; color: #f7f7f7; }
.stats span.blue:hover { background-position: 0 -41px; }
.stats span.blue:active { background-position: 0 -82px; }

.stats span.grey { background: #efefef url(../images/leftNavBg.png) repeat-x; border: 1px solid #d5d5d5; color: #b55d5c; }
.stats span.grey:hover { background: #f6f6f6; }
.stats span.grey:active { background: #f1f1f1; }

.stats span.green { background: url(../images/count/green.png) repeat-x; border: 1px solid #19710e; color: #f7f7f7; }
.stats span.green:hover { background-position: 0 -41px; }
.stats span.green:active { background-position: 0 -82px; }

.stats span.red { background: #efefef url(../images/count/red.png) repeat-x; border: 1px solid #7b2f2f; color: #f7f7f7; }
.stats span.red:hover { background-position: 0 -41px; }
.stats span.red:active { background-position: 0 -82px; }
