<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <link href='stylesheets/style.css' media='screen' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css' />
  <script src='javascripts/application.js'></script>
</head>
<body>
  <div class='wrapper'>
    <nav>
      <ul>
        <li class='stats'>
          <a href='#overview'>
            <span>Overview</span>
          </a>
        </li>
        <li class='money2'>
          <a href='#income'>
            <span>Income</span>
          </a>
        </li>
        <li class='price'>
          <a href='#budgeted'>
            <span>Budgeted Expenses</span>
          </a>
        </li>
        <li class='graphs'>
          <a href='#savings'>
            <span>Savings</span>
          </a>
        </li>
        <!-- %li{ class: "cal" } -->
        <!-- %a{ href: '#expenses' } -->
        <!-- %span Expenses -->
        <!-- %li{ class: "graphs" } -->
        <!-- %a{ href: '#history' } -->
        <!-- %span History -->
      </ul>
    </nav>
    <div class='content'>
      <div id='main'></div>
    </div>
  </div>
  <script id='budgeted_template' type='text/html'>
    <section class='widget table'>
      <div class='head'>
        <h5 class='iFrames'>
          Budgeted Expenses
        </h5>
        <a class='button add_new'>Add</a>
      </div>
      <table class='display datatable'>
        <thead>
          <tr class='new_row_template'>
            <td>
              <input class='description' type='text' />
            </td>
            <td>
              <input class='payee' type='text' />
            </td>
            <td>
              <input class='amount' type='text' />
            </td>
            <td class='center'>
              <select class='timing'>
                <option value='Monthly'>Monthly</option>
                <option value='Yearly'>Yearly</option>
              </select>
            </td>
            <td>
              <input class='create' type='submit' value='Add' />
              <a class='hide'>cancel</a>
            </td>
          </tr>
          <tr>
            <th>Description</th>
            <th>Payee</th>
            <th>Amount</th>
            <th>Timing</th>
            <th class='center actions'>Actions</th>
          </tr>
        </thead>
        <tbody id='budgeted_expenses_body'></tbody>
      </table>
    </section>
  </script>
  <script id='single_row_template' type='text/html'>
    <td>
      <span class='editable'><%= description %></span>
      <input type="text" class="description" value="<%= description %>" />
    </td>
    <td>
      <span class='editable'><%= payee %></span>
      <input type="text" class="payee" value="<%= payee %>" />
    </td>
    <td>
      <span class='editable currency'><%= amount %></span>
      <input type="text" class="amount" value="<%= amount %>" />
    </td>
    <td>
      <span class='editable'><%= timing %></span>
      <select class='timing'>
        <option value="Monthly" <% if (timing == 'Monthly') { %>selected="selected"<% } %>>Monthly</option>
        <option value="Yearly" <% if (timing == 'Yearly') { %>selected="selected"<% } %>>Yearly</option>
      </select>
    </td>
    <td>
      <a class='button delete'>remove</a>
      <a class='button edit'>edit</a>
      <input class='button update' type='submit' value='Update' />
      <a class='cancel'>cancel</a>
    </td>
  </script>
  <script id='stats_template' type='text/html'>
    <section class='widget table'>
      <div class='head'>
        <h5 class='iFrames'>
          Monthly Overview
        </h5>
      </div>
      <table class='display datatable'>
        <tbody>
          <tr>
            <th>Income</th>
            <td>
              <span class='currency'><%= monthly.income %></span>
            </td>
          </tr>
          <tr>
            <th>Spending</th>
            <td>
              <span class='currency'><%= monthly.spending %></span>
            </td>
          </tr>
          <tr>
            <th>Savings</th>
            <td>
              <span class='currency'><%= monthly.savings %></span>
            </td>
          </tr>
          <tr>
            <th>Cash Flow</th>
            <td>
              <span class='currency'><%= monthly.cashFlow %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class='widget table'>
      <div class='head'>
        <h5 class='iFrames'>
          Yearly Overview
        </h5>
      </div>
      <table class='display datatable'>
        <tbody>
          <tr>
            <th>Income</th>
            <td>
              <span class='currency'><%= yearly.income %></span>
            </td>
          </tr>
          <tr>
            <th>Spending</th>
            <td>
              <span class='currency'><%= yearly.spending %></span>
            </td>
          </tr>
          <tr>
            <th>Savings</th>
            <td>
              <span class='currency'><%= yearly.savings %></span>
            </td>
          </tr>
          <tr>
            <th>Cash Flow</th>
            <td>
              <span class='currency'><%= yearly.cashFlow %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class='widget table'>
      <div class='head'>
        <h5 class='iFrames'>
          Daily Overview
        </h5>
      </div>
      <table class='display datatable'>
        <tbody>
          <tr>
            <th>Income</th>
            <td>
              <span class='currency'><%= daily.income %></span>
            </td>
          </tr>
          <tr>
            <th>Spending</th>
            <td>
              <span class='currency'><%= daily.spending %></span>
            </td>
          </tr>
          <tr>
            <th>Savings</th>
            <td>
              <span class='currency'><%= daily.savings %></span>
            </td>
          </tr>
          <tr>
            <th>Cash Flow</th>
            <td>
              <span class='currency'><%= daily.cashFlow %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </script>
  <script id='income_template' type='text/html'>
    <section class='widget table'>
      <div class='head'>
        <h5 class='iFrames'>
          Income
        </h5>
        <a class='button add_new'>Add</a>
      </div>
      <table class='display datatable' id='incomes'>
        <thead>
          <tr class='new_row_template'>
            <td>
              <input class='description' type='text' />
            </td>
            <td>
              <input class='payee' type='text' />
            </td>
            <td>
              <input class='amount' type='text' />
            </td>
            <td class='center'>
              <select class='timing'>
                <option value='Monthly'>Monthly</option>
                <option value='Yearly'>Yearly</option>
              </select>
            </td>
            <td>
              <input class='create' type='submit' value='Add' />
              <a class='hide'>cancel</a>
            </td>
          </tr>
          <tr>
            <th>Description</th>
            <th>Payee</th>
            <th>Amount</th>
            <th>Timing</th>
            <th class='center actions'>Actions</th>
          </tr>
        </thead>
        <tbody id='income_body'></tbody>
      </table>
    </section>
  </script>
  <script id='savings_template' type='text/html'>
    <section class='widget table'>
      <div class='head'>
        <h5 class='iFrames'>
          Income
        </h5>
        <a class='add_new button'>Add</a>
      </div>
      <table class='display datatable' id='incomes'>
        <thead>
          <tr class='new_row_template'>
            <td>
              <input class='description' type='text' />
            </td>
            <td>
              <input class='amount' type='text' />
            </td>
            <td class='center'>
              <select class='timing'>
                <option value='Monthly'>Monthly</option>
                <option value='Yearly'>Yearly</option>
              </select>
            </td>
            <td>
              <input class='create' type='submit' value='Add' />
              <a class='hide'>cancel</a>
            </td>
          </tr>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Timing</th>
            <th class='center actions'>Actions</th>
          </tr>
        </thead>
        <tbody id='income_body'></tbody>
      </table>
    </section>
  </script>
  <script id='saving_row_template' type='text/html'>
    <td>
      <span class='editable'><%= description %></span>
      <input type="text" class="description" value="<%= description %>" />
    </td>
    <td>
      <span class='editable currency'><%= amount %></span>
      <input type="text" class="amount" value="<%= amount %>" />
    </td>
    <td>
      <span class='editable'><%= timing %></span>
      <select class='timing'>
        <option value="Monthly" <% if (timing == 'Monthly') { %>selected="selected"<% } %>>Monthly</option>
        <option value="Yearly" <% if (timing == 'Yearly') { %>selected="selected"<% } %>>Yearly</option>
      </select>
    </td>
    <td>
      <a class='delete button'>remove</a>
      <a class='edit button'>edit</a>
      <input class='button update' type='submit' value='Update' />
      <a class='cancel'>cancel</a>
    </td>
  </script>
</body>
