!!!
%head
  %link{ href: "stylesheets/style.css", media: "screen", rel: "stylesheet" }
  %link{ href: "http://fonts.googleapis.com/css?family=Cuprum", rel: "stylesheet", type: "text/css" }
  %script(src='javascripts/application.js')
%body
  .wrapper
    %nav
      %ul
        %li{ class: "stats" }
          %a{ href: '#overview' }
            %span Overview
        %li{ class: "money2" }
          %a{ href: '#income' }
            %span Income
        %li{ class: "price" }
          %a{ href: '#budgeted' }
            %span Budgeted Expenses
        %li{ class: "graphs" }
          %a{ href: '#savings' }
            %span Savings
        / %li{ class: "cal" }
        /   %a{ href: '#expenses' }
        /     %span Expenses
        / %li{ class: "graphs" }
        /   %a{ href: '#history' }
        /     %span History
    .content
      #main



  %script{ type: "text/html", id: "budgeted_template" }
    %section{ class: "widget table"}
      %div{ class: "head" }
        %h5{ class: "iFrames" }
          Budgeted Expenses
        %a{ class: 'button add_new' } Add
      %table{ class: 'display datatable' }
        %thead
          %tr{ class: 'new_row_template' }
            %td
              %input{ type: 'text', class: "description" }
            %td
              %input{ type: 'text', class: "payee" }
            %td
              %input{ type: 'text', class: "amount" }
            %td{ class: 'center' }
              %select{ class: "timing" }
                %option{ value: "Monthly" } Monthly
                %option{ value: "Yearly" } Yearly
            %td
              %input{ type: 'submit', value: 'Add', class: 'create' }
              %a{ class: "hide" } cancel
          %tr
            %th Description
            %th Payee
            %th Amount
            %th Timing
            %th{ class: 'center actions' } Actions
        %tbody{ id: "budgeted_expenses_body" }



  %script{ type: "text/html", id: "single_row_template" }
    %td
      %span{ class: 'editable' } <%= description %>
      <input type="text" class="description" value="<%= description %>" />
    %td
      %span{ class: 'editable' } <%= payee %>
      <input type="text" class="payee" value="<%= payee %>" />
    %td
      %span{ class: 'editable currency' } <%= amount %>
      <input type="text" class="amount" value="<%= amount %>" />
    %td
      %span{ class: 'editable' } <%= timing %>
      %select{ class: "timing" }
        <option value="Monthly" <% if (timing == 'Monthly') { %>selected="selected"<% } %>>Monthly</option>
        <option value="Yearly" <% if (timing == 'Yearly') { %>selected="selected"<% } %>>Yearly</option>
    %td
      %a{ class: 'button delete' } remove
      %a{ class: 'button edit' } edit
      %input{ type: 'submit', class: 'button update', value: 'Update' }
      %a{ class: 'cancel' } cancel



  %script{ type: "text/html", id: "stats_template" }
    %section{ class: "widget table"}
      %div{ class: "head" }
        %h5{ class: "iFrames" }
          Monthly Overview
      %table{ class: "display datatable" }
        %tbody
          %tr
            %th Income
            %td 
              %span{ class: "currency" } <%= monthly.income %>
          %tr
            %th Spending
            %td 
              %span{ class: "currency" } <%= monthly.spending %>
          %tr
            %th Savings
            %td 
              %span{ class: "currency" } <%= monthly.savings %>
          %tr
            %th Cash Flow
            %td 
              %span{ class: "currency" } <%= monthly.cashFlow %>
    %section{ class: "widget table"}
      %div{ class: "head" }
        %h5{ class: "iFrames" }
          Yearly Overview
      %table{ class: "display datatable" }
        %tbody
          %tr
            %th Income
            %td 
              %span{ class: "currency" } <%= yearly.income %>
          %tr
            %th Spending
            %td 
              %span{ class: "currency" } <%= yearly.spending %>
          %tr
            %th Savings
            %td 
              %span{ class: "currency" } <%= yearly.savings %>
          %tr
            %th Cash Flow
            %td 
              %span{ class: "currency" } <%= yearly.cashFlow %>
    %section{ class: "widget table"}
      %div{ class: "head" }
        %h5{ class: "iFrames" }
          Daily Overview
      %table{ class: "display datatable" }
        %tbody
          %tr
            %th Income
            %td 
              %span{ class: "currency" } <%= daily.income %>
          %tr
            %th Spending
            %td 
              %span{ class: "currency" } <%= daily.spending %>
          %tr
            %th Savings
            %td 
              %span{ class: "currency" } <%= daily.savings %>
          %tr
            %th Cash Flow
            %td 
              %span{ class: "currency" } <%= daily.cashFlow %>


  %script{ type: "text/html", id: "income_template" }
    %section{ class: "widget table"}
      %div{ class: "head" }
        %h5{ class: "iFrames" }
          Income
        %a{ class: 'button add_new' } Add
      %table{ class: "display datatable", id: 'incomes' }
        %thead
          %tr{ class: 'new_row_template' }
            %td
              %input{ type: 'text', class: "description" }
            %td
              %input{ type: 'text', class: "payee" }
            %td
              %input{ type: 'text', class: "amount" }
            %td{ class: 'center' }
              %select{ class: "timing" }
                %option{ value: "Monthly" } Monthly
                %option{ value: "Yearly" } Yearly
            %td
              %input{ type: 'submit', value: 'Add', class: 'create' }
              %a{ class: "hide" } cancel
          %tr
            %th Description
            %th Payee
            %th Amount
            %th Timing
            %th{ class: 'center actions' } Actions
        %tbody{ id: "income_body" }



  %script{ type: "text/html", id: "savings_template" }
    %section{ class: "widget table"}
      %div{ class: "head" }
        %h5{ class: "iFrames" }
          Income
        %a{ class: 'add_new button' } Add
      %table{ class: "display datatable", id: 'incomes' }
        %thead
          %tr{ class: 'new_row_template' }
            %td
              %input{ type: 'text', class: "description" }
            %td
              %input{ type: 'text', class: "amount" }
            %td{ class: 'center' }
              %select{ class: "timing" }
                %option{ value: "Monthly" } Monthly
                %option{ value: "Yearly" } Yearly
            %td
              %input{ type: 'submit', value: 'Add', class: 'create' }
              %a{ class: "hide" } cancel
          %tr
            %th Description
            %th Amount
            %th Timing
            %th{ class: 'center actions' } Actions
        %tbody{ id: "income_body" }

  %script{ type: "text/html", id: "saving_row_template" }
    %td
      %span{ class: 'editable' } <%= description %>
      <input type="text" class="description" value="<%= description %>" />
    %td
      %span{ class: 'editable currency' } <%= amount %>
      <input type="text" class="amount" value="<%= amount %>" />
    %td
      %span{ class: 'editable' } <%= timing %>
      %select{ class: "timing" }
        <option value="Monthly" <% if (timing == 'Monthly') { %>selected="selected"<% } %>>Monthly</option>
        <option value="Yearly" <% if (timing == 'Yearly') { %>selected="selected"<% } %>>Yearly</option>
    %td
      %a{ class: 'delete button' } remove
      %a{ class: 'edit button' } edit
      %input{ type: 'submit', class: 'button update', value: 'Update' }
      %a{ class: 'cancel' } cancel
