!!!
%head
  %link(href='stylesheets/application.css' media='screen' rel='stylesheet')
  %script(src='javascripts/application.js')
%body
  %nav
    %ul
      %li
        %a{ href: '#budgeted' } Budgeted Expenses
      %li
        %a{ href: '#overview' } Overview
      %li
        %a{ href: '#savings' } Savings
      %li
        %a{ href: '#expenses' } Expenses
      %li
        %a{ href: '#history' } History
  #main
    #budgeted
      %p Budgeted Page
    #overview
      %p Overview
    #savings
      %p Savings
    #expenses
      %p Expenses
    #history
      %p History